.container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  color: whitesmoke;
  margin-top: 4rem;
}

.input {
  border-radius: 0.2rem;
  border: none;
  width: 20%;
  background-color: rgba(245, 245, 245, 0.315);
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
  text-align: center;
}

.button-submit {
  border: 1px solid whitesmoke;
  padding: 0.2rem;
  border-radius: 0.2rem;
  color: rgb(6, 155, 6);
  transition: 1s;
}

.button-submit:hover {
  background-color: rgb(28, 221, 28);
  color: whitesmoke;
  transform: translateY(-2px);
}

.button-submit:active {
  transform: translateY(2px);
}

@media only screen and (max-width: 480px) {
  .container-input,
  .button-submit {
    gap: 0.5rem;
    font-size: 0.7rem;
  }
}
