.container-todos {
  height: auto;
  margin-top: 3rem;
  color: whitesmoke;
}

.list-pending {
  list-style: none;
  font-size: 1rem;
  flex-basis: 20%;
  text-align: center;
}

.list-completed {
  list-style: none;
  background-color: rgba(74, 247, 74, 0.616);
  border-radius: 0.5rem;
  font-size: 1rem;
  flex-basis: 20%;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .list-pending {
    font-size: 0.7rem;
  }

  .list-completed {
    font-size: 0.7rem;
  }
}
