.container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  color: whitesmoke;
  margin-top: 4rem;
  .input {
    border-radius: 0.2rem;
    border: none;
    width: 20%;
    background-color: rgba(245, 245, 245, 0.315);
    color: whitesmoke;
    text-align: center;
  }
  .button-submit {
    border: 1px solid whitesmoke;
    padding: 0.2rem;
    border-radius: 0.2rem;
    color: rgb(6, 155, 6);
    transition: 1s;
    &:hover {
      background-color: rgb(28, 221, 28);
      color: whitesmoke;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.container-todos {
  height: auto;
  margin-top: 2rem;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  .new-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.3rem 0;
    width: 60%;
    background-color: whitesmoke;
    border-radius: 0.5rem;

    .buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-basis: 4rem;
      #buttom-complete {
        border-radius: 0.2rem;
        border: none;
        width: 20px;
        color: rgb(0, 87, 0);
        padding: 0.2rem;
        transition: 1s;
        &:hover {
          background-color: rgb(12, 211, 12);
          color: whitesmoke;
          transform: translateY(-2px);
        }
        &:active {
          background-color: whitesmoke;
          color: rgb(12, 211, 12);
          transform: translateY(1px);
          transition: 0.1s;
        }
      }

      #buttom-delete {
        border-radius: 0.2rem;
        border: none;
        width: 20px;
        color: rgb(211, 12, 29);
        padding: 0.2rem;
        transition: 1s;
        &:hover {
          background-color: rgb(211, 12, 29);
          color: whitesmoke;
          transform: translateY(-2px);
        }

        &:active {
          background-color: whitesmoke;
          color: rgb(211, 12, 29);
          transform: translateY(1px);
          transition: 0.1s;
        }
      }
    }
  }

  .new-item li {
    color: purple;
  }
  #list-completed {
    list-style: none;
    background-color: rgba(198, 74, 247, 0.616);
    color: whitesmoke;
    border-radius: 0.5rem;
    font-size: 1rem;
    flex-basis: 20%;
    text-align: center;
  }

  #list-pending {
    list-style: none;
    font-size: 1rem;
    flex-basis: 20%;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .list-pending {
    font-size: 0.7rem;
  }

  .container-todos {
    .new-item {
      width: 90%;
    }
  }

  .list-completed {
    font-size: 0.7rem;
  }

  .container-input,
  .button-submit {
    gap: 0.5rem;
    font-size: 0.7rem;
  }

  #buttom-complete,
  #buttom-delete {
    font-size: 0.7rem;
  }
}
